#container {
	outline: 1px solid black;
	position: relative;
}

.grid {
	display: grid;
	grid-template-columns: repeat(17, 20px);
	grid-template-rows: repeat(15, 20px);
}

#score {
	display: inline-block;
}

#record {
	display: inline-block;
	margin: 10px;
}

#snake {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: red;	
}

